.Chart {
    margin-left: 2rem;
    .top {
        .name {
            font-size: larger;
            font-weight: bolder;
        }
    }
    .img {
        width: 230px;
        height: 150px;
    }
}
