.Chart {
    width: 360px;
    margin-left: 3rem;
    .top {
        display: flex;
        .price {
            width: 50%;
            font-size: 20pt;
        }
        .sales {
            display: inline;

            .sale {
                width: 50px;
                height: 25px;
                background-color: aqua;
                border-radius: 25px;
                font-weight: bolder;
                color: rgb(168, 137, 137);
                font-size: large;
            }
        }
    }

    .title {
        font-size: medium;
        text-align: center;
    }

    .img {
        width: 300px;
        height: 190px;
    }
}
